
body { 
  background-image: url("/static/img/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-group {
	position: fixed !important;
	bottom: 10px;
	left: 10px;
}

.next {
	position: fixed;
	right: 10px;
	top: 15px;
}