
body { 
  background-image: url("/static/img/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-group {
	position: fixed !important;
	bottom: 50px;
	left: 60px;
}

.next {
	margin-left: 20px;	
}

.nav-link.active {
  color: #9E9E9E !important;
}

.nav-tabs {
  position: fixed;
  top: 6px;
  right: 25px;
}

.btn-primary {
    background-color: #e52720 !important;
    border-color: #0c0c0c !important;
}